<body>
    <header>
        <div class="container">
            <h2 class="logo">NETFLIX</h2>
            <nav>
                <a href="#">Inicio</a>
                <a href="#">Séries</a>
                <a href="#">Filmes</a>
                <a href="#">Documentários</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="filme-principal">
            <div class="container">
                <h3 class="titulo">Senhor dos Céus</h3>
                <p class="descricao">Siga os passos de Aurélio Casillas na sua odisseia para transformar-se no maior
                    narcotraficante do México nos anos 90, o único capaz de ocupar o lugar de Pablo Escobar</p>
                <div class="botoes">
                    <button role="button" class="botao">
                        <i class="fas fa-play"></i>
                        Assistir Agora
                    </button>
                    <button role="button" class="botao">
                        <i class="fas fa-circle"></i>
                        Mais Informações
                    </button>
                </div>
            </div>
        </div>
    </main>
    
        <div class="carrosel-filmes">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img class="box-filme" src="https://www.themoviedb.org/t/p/w220_and_h330_face/56Z9eh4k9pzR6Yhy201nq2Qoa0n.jpg" alt="a">
                </div>
                <div class="item">
                    <img class="box-filme" src="/src/app/img/eTMMU2rKpZRbo9ERytyhwatwAjz.jpg" alt="b">
                </div>
                <div class="item">
                    <img class="box-filme" src="/src/app/img/n1oFUoYmj4JuJl5T417VQnZNCgB.jpg" alt="c">
                </div>
            </div>
        </div>
    
</body>