<body>
    <header>
        <div class="container">
            <h2 class="logo">NETFLIX</h2>
            <nav>
                <a href="#">Inicio</a>
                <a href="#">Séries</a>
                <a href="#">Filmes</a>
                <a href="#">Documentários</a>
            </nav>
    </div>
    </header>

    <main>
        <div class="filme-principal">
            <div class="container">
                <h3 class="titulo">Senhor dos Céus</h3>
                <p class="descricao">Siga os passos de Aurélio Casillas na sua odisseia para transformar-se no maior
                    narcotraficante do México nos anos 90, o único capaz de ocupar o lugar de Pablo Escobar</p>
                <div class="botoes">
                    <button role="button" class="botao">
                        <i class="fas fa-play"></i>
                        Assistir Agora
                    </button>
                    <button role="button" class="botao">
                        <i class="fas fa-circle"></i>
                        Mais Informações
                    </button>
                </div>
            </div>
        </div>
    </main>

            <carousel>
                <div class="carousel-cell">
                    <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/1sBx2Ew4WFsa1YY32vlHt079O03.jpg" alt="a">
                </div>
                <div class="carousel-cell">
                    <img src="/src/app/home/imgs/eTMMU2rKpZRbo9ERytyhwatwAjz.jpg" alt="b">
                </div>
                <div class="carousel-cell">
                    <img src="/src/app/home/imgs/ewEgxHvSJnQxH4nwYUr8yajqHOQ.jpg" alt="c">
                </div>
                <div class="carousel-cell">
                    <img src="/src/app/home/imgs/eZYjrVbs1x6TaubuDMqAXPYAGPw.jpg" alt="d">
                </div>
                <div class="carousel-cell">
                    <img src="/src/app/home/imgs/geyu6rplpbp7OUeOfB2uRVf1LpG.jpg" alt="e">
                </div>
                <div class="carousel-cell">
                    <img src="/src/app/home/imgs/k68nPLbIST6NP96JmTxmZijEvCA.jpg" alt="f">
                </div>
                <div class="carousel-cell">
                    <img src="/src/app/home/imgs/n1oFUoYmj4JuJl5T417VQnZNCgB.jpg" alt="g">
                </div>
                <div class="carousel-cell">
                    <img src="/src/app/home/imgs/pHcNHYPg0c2vg7qay6wjJoApUgS.jpg" alt="h">
                </div>
                <div class="carousel-cell">
                    <img src="/src/app/home/imgs/qbSsR0IfnxdXZqfRMpH2PgLAbPV.jpg" alt="i">
                </div>
                <div class="carousel-cell">
                    <img src="/src/app/home/imgs/reKs8y4mPwPkZG99ZpbKRhBPKsX.jpg" alt="j">
                </div>
                <div class="carousel-cell">
                    <img src="/src/app/home/imgs/twYROzuKox3JfvB9JagOXCr8UIQ.jpg" alt="k">
                </div>
                <div class="carousel-cell">
                    <img src="/src/app/home/imgs/wiluKb3NgB6QmuN8hWLKIUxBxxU.jpg" alt="l">
                </div>
            </carousel>
       
    
</body>